#FFF8F3
#c9daf8
#d9d9d9

*{
    box-sizing: border-box;
    flex-shrink: 0;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden; /* Mencegah pengguliran horizontal */
}


main{
    padding: 32px;
}

/*----------------------header----------------------*/
header{
    position: relative; /*ga ada apa apa*/
    width: 100%;
    height: 100%;
    background-color: #c9daf8;
    box-shadow: red;
    padding: 10px;
    padding-left: 20px;
    left: -10px; /*biar header full*/
    top: -10px;
    width: calc(100% + 200px); /*gatau buat apa*/
    display: flex;
    align-items: center;
}

.logo{
    border: 1px solid;
    border-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../assets/logo.jpg);
    background-size: cover;
}

.navigation h1{
    padding-left: 10px;
    font-size: 20px;
}

/*----------------------banner----------------------*/
@keyframes fade{ /*biar pas muncul itu dari gelap ke terang*/
    from{
        opacity: 0.6;
    }
    to{
        opacity: 1;
    }
}

#banner{
    margin: 0 auto;
    width: 95%;
    overflow: hidden; /*gatau apa*/
}

.slides{
    overflow: hidden; /*gatau apa*/
    animation-name: fade; /*biar burem dulu baru jelas*/
    animation-duration: 2s;
    display: none; /*gatau apa*/
}

img{
    width: 100%;
}

#dot{
    margin: 0 auto; /*gatau apa*/
    text-align: center; /*gatau kenapa*/
}

.dot{ /*gatau bedanya apa*/
    display: inline-block;
    border-radius: 50%;
    background: rgb(231, 219, 219);
    padding: 10px; /*gatau apa*/
    margin: 10px 5px;/*gatau apa*/
}

.active{ /*gatau apa*/
    background: #a5c5fb;
  }

/*----------------------about----------------------*/
.about{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: black;
    margin-top: 40px;
    padding: 10px;
    box-sizing: border-box; /*biar ga over kotaknya*/
}


/*----------------------kalkulator----------------------*/
.kalkulator{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*----------------------input----------------------*/
.input{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 480px;
    padding: 10px;
    background-color: #c9daf8;
    border-radius: 3%;
}

/*---gender img---*/

.gender-img{
    display: flex;
    padding-bottom: 30px;
}

.male-img{
    width: 200px;
    height: 150px;
    border: 1px solid;
    border-color: black;
    margin-right: 30px;
}

.female-img{
    width: 200px;
    height: 150px;
    border: 1px solid;
    border-color: black;
}

/*---data---*/
.data{
    box-sizing: border-box; /*gatau buat apa*/
    width: 433px; 
    padding-bottom: 20px
}

.data div{
    display: flex; /*gatau buat apa*/
    align-items: center; /*gatau buat apa*/
    margin-bottom: 10px; /*jarak antar data yang diinput*/
}

.data label {
    flex: 1;
    margin-right: 10px;
}

.data input {
    flex: 2;
}

button{
    width: 100%;
    height: 37px;
    border-radius: 3%;
    background-color: #a5c5fb;
    border-color: white;
    color: rgb(0, 0, 0);
    border-style: none;
}

/*----------------------output----------------------*/
.output{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 480px;
    padding: 10px;
    background-color: #c9daf8;
    border-radius: 3%;
}

.output-value{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 40px;
}

.output div{
    margin-bottom: 10px;
}

.output-status{
    width: 400px;
    height: 60px;
    border: 1px solid;
    margin-top: 3px;
}

.output-number{
    width: 400px;
    height: 80px;
    border: 1px solid;
}

.output-info{
    width: 400px;
    height: 110px;
    border: 1px solid;
}

.output button{
    width: 160px;
    height: 40px;
    border-radius: 3%;
    background-color: #a5c5fb;
    border-color: white;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

/*----------------------peringatan----------------------*/
.peringatan{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: black;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; /*biar ga over kotaknya*/
}

/*----------------------footer----------------------*/
footer{
    position: relative; /*kalau dihapus, kena margin left 10 px*/
    width: 100%;
    height: 100%;
    background-color: #c9daf8;
    margin-top: 20px;
    padding-left: 20px;
    left: -40px; /*biar full viewport*/
    right: -40px;
    bottom: -60px;
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 10px;
    
}

.icon{
    color: #79a1e6;
    width: 18px;
    margin: 2px; /*ngasih jarak antar icon*/
}

.download img{
    width: 90px;
    display: flex;
    flex-direction: column;
}